body, html{
    font-family: sans-serif;
    font-size: .8em;
}

h2,h3,ol,p{
    font-size: 2em;
}

#test{
    width: 500px;
    height: 500px;
    overflow: hidden;
    margin:1em;
    float: left;
    position: relative;
}

#test article{
    position: relative;
    margin-top:0px;
    background-color:rgba(255,255,255,0.6);
    height: 505px;
    padding: 2em;
    box-sizing: border-box;
    transition: rotaeIn 1s;
}

#test:hover article{
    animation: bounceInDown 1s;
    margin-top: -505px;
}
@keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

#test1{
    width: 500px;
    height: 500px;
    overflow: hidden;
    margin:1em;
    float: left;
    position: relative;
}

#test1 article{
    position: relative;
    margin-top:0px;
    background-color:rgba(255,255,255,0.6);
    height: 505px;
    padding: 2em;
    box-sizing: border-box;
    transition: lightSpeed 1s;
}

#test1:hover article{
    animation: lightSpeedIn 1s;
    margin-top: -505px;
}

@-webkit-keyframes lightSpeedIn {
    from {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }

    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        opacity: 1;
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
.lightSpeedIn {
    -webkit-animation-name: lightSpeedIn;
    animation-name: lightSpeedIn;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

#test2{
    width: 500px;
    height: 500px;
    overflow: hidden;
    margin:1em;
    float: left;
    position: relative;
}

#test2 article{
    position: relative;
    margin-top:0px;
    background-color:rgba(255,255,255,0.6);
    height: 505px;
    padding: 2em;
    box-sizing: border-box;
    transition: rotateInUpLeft 1s;
}

#test2:hover article{
    animation: rotateInUpLeft 1.5s;
    margin-top: -505px;
}

@-webkit-keyframes rotateInUpLeft {
    from {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
.rotateInUpLeft {
    -webkit-animation-name: rotateInUpLeft;
    animation-name: rotateInUpLeft;
}

#test3{
    width: 500px;
    height: 500px;
    overflow: hidden;
    margin:1em;
    float: left;
    position: relative;
}

#test3 article{
    position: relative;
    margin-top:0px;
    background-color:rgba(255,255,255,0.6);
    height: 505px;
    padding: 2em;
    box-sizing: border-box;
    transition: flip 1s;
}

#test3:hover article{
    animation: flipInY 1.5s;
    margin-top: -505px;
}

@-webkit-keyframes flipInY {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}
.flipInY {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
    animation-name: flipInY;
}